:root{
    --primary:#0b3c6f;
    --primary-light:#1976d2;
    --sidebar:#0b1e3a;
}


*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

/* HEADER */
.header{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:15px;
    background:linear-gradient(90deg,var(--primary),var(--primary-light));
    color:#fff;
    padding:18px;
    font-size:24px;
    font-weight:600;
    box-shadow:0 2px 10px rgba(0,0,0,0.2);
}

.header-logo{
    height:45px;
}

/* container */
.container{
    display:flex;
    height:calc(100vh - 70px);
}

/* Sidebar */
.sidebar{
    width:16.3333%;
    background:linear-gradient(180deg,#081c36,#0d2b52);
    color:#fff;
    padding:20px;
    display:flex;
    flex-direction:column;
}

.sidebar h3{
    font-size:15px;
    margin-bottom:15px;
    border-bottom:1px solid rgba(255,255,255,0.2);
    padding-bottom:8px;
}


.student-list{
    overflow-y:auto;
}

/* mssv */
.student-list ul{
    list-style:none;
}

.student-list li{
    margin-bottom:10px;
}

.student-list a{
    display:block;
    padding:12px;
    border-radius:10px;
    text-decoration:none;
    color:#fff;
    background:rgba(255,255,255,0.05);
    transition:all 0.25s ease;
}

.student-list a:hover{
    background:linear-gradient(90deg,#1e88ff,#42a5f5);
    transform:translateX(6px);
    box-shadow:0 6px 12px rgba(0,0,0,0.3);
}

/* Content */
.content{
    flex:1;
    display:flex;
    flex-direction:column;
}

/* header content */
.content-header{
    padding:15px 20px;
    font-size:18px;
    font-weight:600;
    background:#fff;
    border-bottom:1px solid #ddd;
    box-shadow:0 2px 6px rgba(0,0,0,0.05);
}

iframe{
    flex:1;
    width:100%;
    border:none;
}

/* reponsive */
/* tablet */
@media(max-width:1024px){
    .sidebar{
        width:220px;
    }

    .header{
        font-size:20px;
        padding:14px;
    }
}

/* mobile */
@media(max-width:768px){

    .container{
        flex-direction:column;
        height:auto;
    }

    /* header */
    .header{
        flex-direction:column;
        font-size:18px;
        text-align:center;
    }

    .header-logo{
        height:35px;
    }

    /*sidebar */
    .sidebar{
        width:100%;
        height:auto;
        padding:10px;
    }

    .sidebar h3{
        text-align:center;
    }

    .student-list{
        max-height:200px;
    }

    .student-list ul{
        display:flex;
        flex-wrap:wrap;
        gap:8px;
        justify-content:center;
    }

    .student-list li{
        margin:0;
    }

    .student-list a{
        padding:8px 10px;
        font-size:13px;
        border-radius:6px;
    }

/* contnent */
    .content{
        padding:10px;
    }

    .content-header{
        font-size:16px;
        text-align:center;
    }

    iframe{
        height:400px;
    }
}
